.states {
	width: 800px;
	height: 100%;
	margin:0 auto;
	margin-top: 25px;
	background-color:;
	display: block;
}

.states h1 {
	color: white;
	font-size: 35px;
	font-family: 'Droid Sans', sans-serif;
	text-align: center;
	text-decoration: none;
}

.states h3 {
	color: #147bf9;
	font-size: 9px;
	font-family: 'Droid Sans', sans-serif;
	margin:0px;
	line-height: 1.5em;
	text-align: center;

}


.states h3:hover {
	color: #147bf9;
	text-decoration: none;
	font-size: 150%;
	font-family: 'Droid Sans', sans-serif;
	margin:0px;
	line-height: 1.5em;

}