/*UNIVERSAL STYLING I GUESS-------------------------*/

::-moz-selection { /* Code for Firefox */
    color: white;
    background: black;
}

::selection {
    color: white; 
    background: black;
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

body {
	background-color: #161616;
	background-image: url('images/background2.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 0px -150px;
	background-size: 100%;
}




/*NAV BAR FOR ALL PAGES-------------------------*/

.bar {
	width: 100%;
	height: 120px;
	margin: 0 auto;
	padding: 5px;
	
}

.logo {
	width: 280px;
	height: 100%;
	background-image: url('images/small.png');
	background-repeat: no-repeat;
	background-size: 100%;
	display: inline-block;
}



#toes ul {
	list-style-type: none;
	padding:0px;

}

#toes li {
	color: #0078ff;
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
	text-align: right;
	padding-right: 15px;
	text-transform: uppercase;
}

#toes li a {
    color: #0078ff;
}

#toes li a:hover {
    color: white;
}


/*BOTTOM FOOTER----------------------------------*/

.footer {
	width: 100%;
	height:90px;
	margin-top: 50px;
	position: relative;

}

.app {
	width: 210px;
	height: 35px;
	margin: 0 auto;
	display: inline-block;
	position: absolute;
	left: 10px;
	top:10px;
}

.app img {
	width: 100px;
}

.media {
	width: 150px;
	position: absolute;
	top:55px;
	left: 10px;

}

.media img {
	width:30px;
	margin-right: 3px;
	display: inline-block;
}

#iphone-slides {
	position:relative;
    width:204px;
    height:360px;
    overflow:hidden;
    top: 56px;
    left: 14px;
}

#iphone-slides img {
	max-width: 100%;
}























