::-moz-selection { /* Code for Firefox */
    color: #736e63;
    background: black;
}

::selection {
    color: #736e63; 
    background: black;
}

body {
	background-color: #161616;
	background-image: url('images/background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 0px 50px;
	background-size: 100%;
}

a {
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

.container {
	width:100%;
	height: 100%;
	background-size: 100%;
	margin: 0 auto;
	margin-top: 50px;
	display: block;
}


.mainlogo {
	width: 340px;
	display: block;
	background-color: ;
	margin: 0 auto;
}

.mainlogo img {
	width: 100%;
}

.intro {
	width: 600px;
	margin: 0 auto;
	margin-top: 136px;
	display: block;
	-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
}

.intro h1 {
	font-family: 'Droid Sans', sans-serif;
	color: #0078ff;
	font-size: 70px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
}



































