::selection {
  background: #2f2f2f; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #2f2f2f; /* Gecko Browsers */
}

body {
	font-family: Courier;
	font-weight: normal;
}

#main {
	width:100%;
	margin:0 auto;
	margin-top:20px;
}


.head {
	font-size: 40px;
	width: 800px;
	float: left;
	margin-left: 0;
	margin-right: 10px;
	text-align: right;
}

.head p {
	font-size: 14px;
	background-color: #f2cad3;
}

.head img {
	height: 200px;
}

.links {
	width: 500px;
	float: left;
	background-color: white;
	margin-left:740px;
	margin-top: 200px;
	position: fixed;
}
.links a {
	font-size: 11px;
	color:black;
	font-weight: normal;

}
.links a:hover {
	background-color:#f2cad3;
	font-weight: normal;

}
.links li {
	color:black;
	font-weight: normal;

}

