body {
	padding:20px;
/*    background-image: url('hodnop-alphabet.png');*/
    background-size: 70%;
    background-position: fixed;
}
.everywhere {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 777;
}


.letter {
	width: 61px;
    height: 124px;
    display: inline-block;
    /*border: 2px solid blue;*/
}


.a {
    width: 50px;
    position: relative;
}

.a .left {
    width: 12px;
    height: 99px;
    background-color: mediumspringgreen;
    opacity: 0.45;
    position: absolute;
    transform: skew(-8deg);
    left: 13px;
    top: 20px;
}

.a .right {
    width: 12px;
    height: 99px;
    background-color: fuchsia;
    opacity: 0.45;
    position: absolute;
    transform: skew(8deg);
    left: 36px;
    top: 20px;
}

.a .middle {
    width: 18px;
    height: 11px;
    background-color: red;
    opacity: 0.45;
    position: absolute;
    left: 20px;
    top: 53px;
}

.b {
    width:47px;
    position: relative;
}

.b .left {
    width: 12px;
    height: 99px;
    background-color: lime;
    opacity: 0.45;
    position: absolute;
    left: 11px;
    top: 20px;
}

.b .top {
    border: 12px solid orange;
    opacity: 0.45;
    border-radius: 0 300% 300% 0 /0 180% 180% 0;
    width: 8px;
    height: 19px;
    position: absolute;
    top: 20px;
    left: 11px;
}

.b .bottom {
    border: 12px solid orange;
    opacity: 0.45;
    border-radius: 0 300% 300% 0 /0 180% 180% 0;
    width: 18px;
    height: 37px;
    position: absolute;
    top: 58px;
    left: 11px;
}

.c {
    width:47px;
    position: relative;
}

.c .left {
    border: 14px solid blue;
    opacity: 0.5;
    border-radius: 50%;
    width: 55px;
    height: 68px;
    position: absolute;
    top: 20px;
    left: 5px;
    z-index: -6;
}

.c .hide {
    position: absolute;
    background-color: white;
   /* opacity: 0.4;  THIS IS JUST TO TEST*/
    width: 41px;
    height: 100px;
    top: 20px;
    right: -44px;
    z-index: -5;
}

.d {
    width:49px;
    position: relative;
}

.d .whole {
    border: 12px solid orange;
    opacity: 0.5;
    border-radius: 0 300% 300% 0 /0 180% 180% 0;
    width: 20px;
    height: 73px;
    position: absolute;
    top: 20px;
    left: 10px;
}

.e {
    width: 43px;
    position: relative;
}

.e .left {
    width: 12px;
    height: 99px;
    background-color: lime;
    opacity: 0.45;
    position: absolute;
    left: 8px;
    top: 20px;
}

.e .top {
    width: 29px;
    height: 14px;
    background-color: cyan;
    position: absolute;
    top: 20px;
    left: 19px;
    opacity: 0.4;
}

.e .middle {
    width: 29px;
    height: 14px;
    background-color: red;
    position: absolute;
    top: 48px;
    left: 19px;
    opacity: 0.4;
}

.e .bottom {
    width: 29px;
    height: 14px;
    background-color: cyan;
    position: absolute;
    top: 105px;
    left: 19px;
    opacity: 0.4;
}

.f {
    width:43px;
    position: relative;
}

.f .left {
    width: 12px;
    height: 99px;
    background-color: lime;
    opacity: 0.45;
    position: absolute;
    left: 11px;
    top: 20px;
}

.f .top {
    width: 29px;
    height: 14px;
    background-color: cyan;
    position: absolute;
    top: 20px;
    left: 22px;
    opacity: 0.4;
}

.f .middle {
    width: 29px;
    height: 14px;
    background-color: red;
    position: absolute;
    top: 48px;
    left: 22px;
    opacity: 0.4;
}

.g {
    width: 47px;
    position: relative;
}

.g .left {
    border: 15px solid blue;
    opacity: 0.45;
    border-radius: 50%;
    width: 55px;
    height: 68px;
    position: absolute;
    top: 20px;
    left:3px;
    z-index: -6;
}

.g .hide {
    position: absolute;
    background-color: white;
   /* opacity: 0.4;  THIS IS JUST TO TEST*/
    width: 41px;
    height: 100px;
    top: 20px;
    right: -42px;
    z-index: -5;
}

.g .right {
    width: 12px;
    height: 70px;
    background-color: deeppink;
    opacity: 0.45;
    position: absolute;
    left: 41px;
    top: 49px;
    z-index: -4;
}

.g .middle {
    width: 27px;
    height: 14px;
    background-color: red;
    opacity: 0.4;
    position: absolute;
    top: 49px;
    left: 26px;
    z-index: -4;
}

.h {
    width:50px;
    position: relative;
}

.h .left {
    width: 12px;
    height: 99px;
    background-color: lime;
    opacity: 0.45;
    position: absolute;
    left: 5px;
    top: 20px;
}

.h .right {
    width: 12px;
    height: 99px;
    background-color: lime;
    opacity: 0.45;
    position: absolute;
    left: 44px;
    top: 20px;
}

.h .middle {
    width: 27px;
    height: 14px;
    background-color: red;
    opacity: 0.4;
    position: absolute;
    top: 48px;
    left: 17px;
}

.i {
    width:12px;
    position: relative;
}

.i .whole {
    width: 12px;
    height: 99px;
    background-color: lime;
    opacity: 0.45;
    position: absolute;
    left: 25px;
    top: 20px;
}

.j {
    width: 43px;
    position: relative;
}

.j .bottom {
    position: absolute;
    bottom: -120px;
    right: -7px;
    width: 17px;
    height: 28px;
    border-width: 0 12px 12px 12px;
    border-color: pink;
    opacity: 0.4;
    border-style: solid;
  
    border-radius: 0 0 75%75%;
}

.j .hide {

    background-color: white;
  /*  opacity: 0.4;*/
    width: 15px;
    height: 20px;
    position: absolute;
    top: 77px;
    left: 8px;
    z-index: 1;
}

.j .right {
    width: 12px;
    height: 66px;
    background-color: deeppink;
    opacity: 0.45;
    position: absolute;
    top: 20px;
    left: 38px;
}

.k {
    width: 45px;
    position: relative;
}

.k .left {
    width: 12px;
    height: 99px;
    background-color: lime;
    position: absolute;
    opacity: 0.4;
    left: 8px;
    top: 20px;
}

.k .top {
    width: 12px;
    height: 55px;
    background-color: mediumspringgreen;
    opacity: 0.45;
    position: absolute;
    transform: skew(-21deg);
    left: 22px;
    top: 20px;
}

.k .bottom {
    width: 12px;
    height: 66px;
    background-color: fuchsia;
    opacity: 0.45;
    position: absolute;
    transform: skew(22deg);
    left: 24px;
    top: 54px;
}

.l {
    width: 46px;
    position: relative;
}

.l .left {
    width: 12px;
    height: 99px;
    background-color: lime;
    opacity: 0.4;
    position: absolute;
    left: 6px;
    top: 20px;
}

.l .bottom {
    width:40px;
    height: 12px;
    background-color: cyan;
    opacity: 0.4;
    position: absolute;
    top: 107px;
    left: 11px;
}

.m {
    width: 55px;
    position: relative;
}

.m .left {
    width: 12px;
    height: 99px;
    background-color: lime;
    position: absolute;
    opacity: 0.4;
    left: 4px;
    top:20px;
    
}

.m .right {
     width: 12px;
    height: 99px;
    position: absolute;
    background-color: lime;
    opacity: 0.4;
    right: -2px;
    top:20px;
}

.m .top {
    width: 12px;
    height: 55px;
    background-color: mediumspringgreen;
    opacity: 0.45;
    position: absolute;
    transform: skew(-21deg);
    top: 20px;
    right: 9px;
}

.m .bottom {
    width: 12px;
    height: 55px;
    background-color: fuchsia;
    opacity: 0.45;
    position: absolute;
    transform: skew(21deg);
    top: 20px;
    left: 14px;
}

.n {
    width: 55px;
    position: relative;
}

.n .left {
     width: 12px;
    height: 99px;
    position: absolute;
    background-color: lime;
    opacity: 0.4;
    left: 5px;
    top:20px;
}

.n .right {
     width: 12px;
    height: 99px;
    position: absolute;
    background-color: lime;
    opacity: 0.4;
    right: -3px;
    top:20px;
}

.n .middle {
    width: 12px;
    height: 99px;
    background-color: fuchsia;
    opacity: 0.45;
    position: absolute;
    transform: skew(22deg);
    left: 26px;
    top: 21px;
}

.o {
    width:99px;
    position: relative;
}

.o .whole {
    border: 15px solid gold;
    opacity: 0.5;
    border-radius: 50%;
    width: 58px;
    height: 68px;
    position: absolute;
    top: 20px;
    left: 5px;
}

.p {
    width: 40px;
    position: relative;
}

.p .left {
    width: 12px;
    height: 99px;
    position: absolute;
    background-color: lime;
    opacity: 0.4;
    left: 12px;
    top: 20px;
}

.p .right {
    border: 12px solid orange;
    opacity: 0.45;
    border-radius: 0 300% 300% 0 /0 180% 180% 0;
    width: 9px;
    height: 19px;
    position: absolute;
    top: 18px;
    left: 13px;
}

.q {
    width:100px;
    position: relative;
}

.q .left {
    border: 15px solid gold;
    opacity: 0.45;
    border-radius: 50%;
    width: 58px;
    height: 68px;
    position: absolute;
    top: 20px;
    left: 5px;
}

.q .right {
    width: 17px;
    height: 20px;
    background-color: fuchsia;
    opacity: 0.45;
    transform: skew(40deg);
    position: absolute;
    bottom: -120px;
    right: 11px;
}

.r {
    width:45px;
    position: relative;
}

.r .left {
    width: 12px;
    height: 99px;
    position: absolute;
    background-color: lime;
    opacity: 0.4;
    left: 11px;
    top: 20px;
}

.r .top {
    border: 12px solid orange;
    opacity: 0.45;
    border-radius: 0 300% 300% 0 /0 180% 180% 0;
    width: 9px;
    height: 19px;
    position: absolute;
    top: 19px;
    left: 12px;
}

.r .bottom {
    width: 12px;
    height: 67px;
    background-color: fuchsia;
    opacity: 0.45;
    position: absolute;
    transform: skew(22deg);
    left: 27px;
    top: 52px;
}

.s {
    width: 45px;
    position: relative;
    transform: rotate(22deg);
    margin-left:5px;
}


.s .top {
    border: 13px solid crimson;
    border-right-color: white;
    opacity: 0.45;
    border-radius: 50%;
    width: 26px;
    height: 24px;
    position: absolute;
    top: 11px;
    left: 22px;
    z-index: -3;
}


.s .bottom {
    border: 13px solid gold;
    border-left-color: white;
    opacity: 0.45;
    border-radius: 50%;
    width: 35px;
    height: 34px;
    position: absolute;
    top: 48px;
    left: 23px;
    transform: rotate(42deg);
    z-index: -1;
}

.s .tophide {
    width: 24px;
    height: 51px;
    background-color: white;
    /*opacity: 0.4;*/
    top: 11px;
    left: 52px;
    position: absolute;
    z-index: -2;
}

.s .bottomhide {
    width: 31px;
    height: 38px;
    background-color: white;
    /* opacity: 0.4; */
    top: 74px;
    left: 23px;
    position: absolute;
    z-index: 1;
}


.t {
    width:49px;
    position: relative;
}

.t .top {
    width: 48px;
    height: 12px;
    background-color: cyan;
    opacity: 0.4;
    position: absolute;
    top: 20px;
    left: 7px;
}

.t .bottom {
    width: 12px;
    height: 85px;
    background-color: lime;
    opacity: 0.4;
    position: absolute;
    top: 32px;
    left: 25px;
}

.u {
    width:67px;
    position: relative;
}

.u .bottom {
border: 12px solid pink;
    opacity: 0.45;
    border-radius: 0 300% 300% 0 /0 180% 180% 0;
    width: 39px;
    height: 37px;
    position: absolute;
    top: 60px;
    left: 3px;
    transform: rotate(90deg);
    z-index: -3;
}

.u .hide {
    width: 62px;
    height: 13px;
    background-color: white;
    /* opacity: 0.4; */
    position: absolute;
    top: 59px;
    left: 3px;
    z-index: -2;
}

.u .left {
    width: 11.5px;
    height: 52px;
    background-color: lime;
    opacity: 0.4;
    position: absolute;
    border-bottom-left-radius: 1px;
    top: 20px;
    left: 4px;
    z-index: -1;
}

.u .right {
    width: 11.5px;
    height: 52px;
    background-color: lime;
    border-bottom-right-radius: 1px;
    opacity: 0.4;
    position: absolute;
    top: 20px;
    left: 53px;
    z-index: -1;

}

.v {
    width:53;
    position: relative;
}

.v .left {
    width: 12px;
    height: 99px;
    background-color: fuchsia;
    opacity: 0.45;
    position: absolute;
    transform: skew(8deg);
    left: 13px;
    top: 20px;
}

.v .right {
    width: 12px;
    height: 99px;
    background-color: mediumspringgreen;
    opacity: 0.45;
    position: absolute;
    transform: skew(-8deg);
    left: 36px;
    top: 20px;
}

.w {
    width: 55px;
    position: relative;
    /*transform:rotate(90deg);*/
}

.w .left {
    width: 12px;
    height: 99px;
    background-color: lime;
    position: absolute;
    opacity: 0.4;
    left: 4px;
    top: 20px;
}

.w .right {
    width: 12px;
    height: 99px;
    position: absolute;
    background-color: lime;
    opacity: 0.4;
    right: -2px;
    top: 20px;
}

.w .top {
    width: 12px;
    height: 55px;
    background-color: mediumspringgreen;
    opacity: 0.45;
    position: absolute;
    transform: skew(-21deg);
    top: 64px;
    left: 13px;
}

.w .bottom {
    width: 12px;
    height: 55px;
    background-color: fuchsia;
    opacity: 0.45;
    position: absolute;
    transform: skew(21deg);
    top: 64px;
    left: 34px;
}

.x {
    width:53px;
    position: relative;
}

.x .left {
    width: 12px;
    height: 97px;
    background-color: fuchsia;
    opacity: 0.45;
    position: absolute;
    transform: skew(18deg);
    left: 26px;
    top: 20px;
}

.x .right {
    width: 12px;
    height: 97px;
    background-color: mediumspringgreen;
    opacity: 0.45;
    position: absolute;
    transform: skew(-18deg);
    left: 20px;
    top: 20px;
}

.y {
    width: 43px;
    position: relative;
}

.y .right {
    width: 12px;
    height: 97px;
    background-color: mediumspringgreen;
    opacity: 0.45;
    position: absolute;
    transform: skew(-18deg);
    left: 23px;
    top: 20px;
}

.y .left {
    width: 12px;
    height: 36px;
    background-color: fuchsia;
    opacity: 0.45;
    position: absolute;
    transform: skew(18deg);
    left: 20px;
    top: 20px;
}

.z {
    width:43px;
    position: relative;
}

.z .top {
    width: 40px;
    height: 13px;
    background-color: cyan;
    opacity: 0.4;
    position: absolute;
    top: 20px;
    left: 9px;  
}

.z .bottom {
    width: 40px;
    height: 13px;
    background-color: cyan;
    opacity: 0.4;
    position: absolute;
    top: 105px;
    left: 9px;
}

.z .middle {
    width: 13px;
    height: 75px;
    background-color: mediumspringgreen;
    opacity: 0.45;
    position: absolute;
    transform: skew(-20deg);
    left: 22px;
    top: 32px;
}

.zero {
    width:71px;
    position: relative;
}

.zero .whole {
    border: 13px solid mediumorchid;
    opacity: 0.45;
    border-radius: 50%;
    width: 35px;
    height: 71px;
    position: absolute;
    top: 19px;
    left: 3px;
}

.one {
    width:32px;
    position: relative;
}

.one .whole {
    width: 12px;
    height: 99px;
    background-color: lime;
    opacity: 0.45;
    position: absolute;
    left: 10px;
    top: 20px;
}

.two {
    width:45px;
    position: relative;
}

.two .top {
    border: 12px solid crimson;
    opacity: 0.45;
    border-radius: 50%;
    width: 22px;
    height: 24px;
    position: absolute;
    top: 20px;
    left: 8px;
    z-index: -3;
}

.two .middle {
    width: 13px;
    height: 59px;
    background-color: mediumspringgreen;
    opacity: 0.45;
    position: absolute;
    transform: skew(-25deg);
    left: 28px;
    top: 46px;
    z-index: -1;
}

.two .bottom {
    width: 39px;
    height: 13px;
    background-color: cyan;
    opacity: 0.4;
    position: absolute;
    top: 105px;
    left: 14px;
}

.two .hide {
    width: 46px;
    height: 27px;
    background-color: white;
    position: absolute;
    top: 46px;
    left: 8px;
    z-index: -2;
}

.three {
    width: 54px;
    position: relative;
}

.three .top {
    border: 12px solid crimson;
    opacity: 0.45;
    border-radius: 50%;
    width: 22px;
    height: 24px;
    position: absolute;
    top: 20px;
    left: 5px;
}

.three .bottom {
    border: 12px solid gold;
    opacity: 0.45;
    border-radius: 50%;
    width: 32px;
    height: 38px;
    position: absolute;
    top: 55px;
    left: 1px;

}

.three .hide {
    width: 23px;
    height: 56px;
    background-color: white;
    position: absolute;
    top: 43px;
    left: 1px;
}



.four {
    width: 39px;
    position: relative;
}

.four .left {
    width: 11px;
    height: 40px;
    background-color: deeppink;
    opacity: 0.4;
    position: absolute;
    top: 20px;
    left: 9px;
}

.four .right {
    width: 11px;
    height: 97px;
    background-color: lime;
    opacity: 0.4;
    position: absolute;
    top: 20px;
    left: 34px;
}

.four .middle {
    width: 36px;
    height: 11px;
    background-color: red;
    opacity: 0.4;
    position: absolute;
    top: 49px;
    left: 9px;
}

.five {
    width: 40px;
    position: relative;
}

.five .top {
    width: 35px;
    height: 13px;
    background-color: cyan;
    opacity: 0.4;
    position: absolute;
    top: 20px;
    left: 11px;
}


.five .middle {
    width: 12px;
    height: 55.5px;
    background-color: deeppink;
    opacity: 0.4;
    position: absolute;
    top: 20px;
    left: 11px;
}

.five .bottom {
    width: 32px;
    height: 33px;
    border-radius: 50%;
    border: 12px solid gold;
    border-left-color: white;
    transform: rotate(23deg);
    opacity: 0.4;
    position: absolute;
    top: 63px;
    left: -2px;
}

.six {
    width:50px;
    position: relative;
}

.six .top {
    width: 13px;
    height: 59px;
    position: absolute;
    top: 20px;
    left: 23px;
    background-color: mediumspringgreen;
    transform: skew(-28deg);
    opacity: 0.4;
}

.six .bottom {
    width:30px;
    height: 32px;
    border: 12px solid gold;
    border-radius: 50%;
    opacity: 0.4;
    position: absolute;
    top:65px;
    left:4px;
}

.seven {
    width:40px;
    position: relative;
}

.seven .top {
    width: 35px;
    height: 12px;
    background-color: cyan;
    opacity: 0.4;
    position: absolute;
    top: 20px;
    left: 13px;
}

.seven .bottom {
    width: 12px;
    height: 97px;
    position: absolute;
    top: 20px;
    left: 31px;
    background-color: mediumspringgreen;
    transform: skew(-9deg);
    opacity: 0.4;
}

.eight {
    width: 50px;
    position: relative;
}

.eight .top {
    width: 25px;
    height: 25px;
    border: 11px solid crimson;
    border-radius: 50%;
    opacity: 0.4;
    position: absolute;
    top: 20px;
    left: 7px;
}
.eight .bottom {
    width: 32px;
    height: 34px;
    border: 12px solid gold;
    border-radius: 50%;
    opacity: 0.4;
    position: absolute;
    top: 60px;
    left: 3px;
}

.nine {
    width:50px;
    position: relative;
}

.nine .top {
    width:30px;
    height: 32px;
    border: 12px solid crimson;
    border-radius: 50%;
    opacity: 0.4;
    position: absolute;
    top:20px;
    left:4px;
}

.nine .bottom {
    width: 13px;
    height: 63px;
    position: absolute;
    top: 56px;
    left: 27px;
    background-color: mediumspringgreen;
    transform: skew(-28deg);
    opacity: 0.4;
}

.period {
    width: 20px;
    position: relative;
}

.period .whole {
    width: 11px;
    height: 11px;
    background-color: orangered;
    border-radius: 50%;
    position: absolute;
    opacity: 0.5;
    top:105px;
    left:4px;
}

.comma {
    width: 20px;
    position: relative;
}

.comma .top {
    width: 11px;
    height: 11px;
    background-color: orangered;
    border-radius: 50%;
    position: absolute;
    top:105px;
    left:6px;
    opacity: 0.5;
}

.comma .bottom {
    width: 4px;
    height: 12px;
    background-color: turquoise;
    position: absolute;
    top: 110px;
    left: 12px;
    transform: skew(-10deg);
    opacity: 0.5;
}

.exclamation {
    width: 27px;
    position: relative;
}

.exclamation .top {
    width: 10px;
    height: 78px;
    background-color: lime;
    position: absolute;
    top: 20px;
    left: 7px;
    opacity: 0.5;
}

.exclamation .bottom {
    width: 11px;
    height: 11px;
    background-color: orangered;
    border-radius: 50%;
    position: absolute;
    top:105px;
    left:6px;
    opacity: 0.5;
}

.question {
    width: 55px;
    position: relative;
}

.question .top {
    border: 11px solid crimson;
    opacity: 0.45;
    border-radius: 50%;
    width: 22px;
    height: 24px;
    position: absolute;
    top: 20px;
    left: 5px;
}

.question .hide {
    width: 23px;
    height: 56px;
    background-color: white;
    position: absolute;
    top: 43px;
    left: 1px;
}

.question .middle {
    width: 10px;
    height: 42px;
    background-color: deeppink;
    position: absolute;
    top: 56px;
    left: 24px;
    opacity: 0.5;
}
.question .bottom {
    width: 11px;
    height: 11px;
    background-color: orangered;
    border-radius: 50%;
    position: absolute;
    top:105px;
    left:23px;
    opacity: 0.5;
}

.leftquote {
    width: 15px;
    position: relative;
}

.leftquote .left {
    width: 4px;
    height: 12px;
    background-color: turquoise;
    position: absolute;
    top: 15px;
    left: 2px;
    transform: skew(-10deg);
    opacity: 0.5;
}

.leftquote .right {
    width: 4px;
    height: 12px;
    background-color: turquoise;
    position: absolute;
    top: 15px;
    left: 8px;
    transform: skew(-10deg);
    opacity: 0.5;
}


.rightquote {
    width: 15px;
    position: relative;
}

.rightquote .left {
    width: 4px;
    height: 12px;
    background-color: turquoise;
    position: absolute;
    top: 15px;
    left: 2px;
    transform: skew(10deg);
    opacity: 0.5;
}

.rightquote .right {
    width: 4px;
    height: 12px;
    background-color: turquoise;
    position: absolute;
    top: 15px;
    left: 8px;
    transform: skew(10deg);
    opacity: 0.5;
}