#left {
	width:10px;
	height: 100%;
	position: fixed;
	background-color:white;
	margin-left: -10px;
	margin-top:0px;
	-o-transition:.5s;
	  -ms-transition:.5s;
	  -moz-transition:.5s;
	  -webkit-transition:.5s;
	  /* ...and now for the proper property */
	  transition:.5s;

}


#left:hover {
		background-color: #ff213b;
		cursor:default;
		width: 40px;
	}