#text {
	width: 300px;
	margin: 0 auto;
	padding-left: 200px;
}

#one {
	border:1px solid;
	/*margin-top: 2px;*/
	padding: 3px;
}

#two {
	border:2px solid;
	/*margin-top: 2px;*/
	padding: 3px;
}

#three {
	border:3px solid;
	/*margin-top: 2px;*/
	padding: 3px;
}

#four {
	border:4px solid;
	/*margin-top: 2px;*/
	padding: 3px;
}

#five {
	border:5px solid;
	/*margin-top: 2px;*/
	padding: 3px;
}

#six {
	border:6px solid;
	/*margin-top: 2px;*/
	padding: 3px;
}

#seven {
	border:7px solid;
	/*margin-top: 2px;*/
	padding: 3px;
}

#eight {
	border:8px solid;
	/*margin-top: 2px;*/
	padding: 3px;
}

#nine {
	border:9px solid;
	/*margin-top: 2px;*/
	padding: 3px;
}

#ten {
	border:10px solid;
	/*margin-top: 2px;*/
	padding: 3px;
}

#eleven {
	border:11px solid;
	/*margin-top: 2px;*/
	padding: 3px;
}

#twelve {
	border:12px solid;
	/*margin-top: 2px;*/
	padding: 3px;
}

#thirteen {
	border:13px solid;
	/*margin-top: 2px;*/
	padding: 3px;
}