.one {
	border:10px solid #ee3650;
	padding: 0px;
}

.two {
	border:10px solid #ee415a;
	padding: 0px;
}

.three {
	border:10px solid #ed4961;
	padding: 0px;
}

.four {
	border:10px solid #ec5166;
	padding: 0px;
}

.five {
	border:10px solid #eb5a6f;
	padding: 0px;
}

.six {
	border:10px solid #ea6074;
	padding: 0px;
}

.seven {
	border:10px solid #e96a7c;
	padding: 0px;
}

.eight {
	border:10px solid #e97384;
	padding: 0px;
}

.nine {
	border:10px solid #e97b8b;
	padding: 0px;
}

.ten {
	border:10px solid #e78a97;
	padding: 0px;
}

.eleven {
	border:10px solid #e795a1;
	padding: 0px;
}

.twelve {
	border:10px solid #e79faa;
	padding: 0px;
}

.thirteen {
	border:10px solid #e5a9b1;
	padding: 0px;
}

.fourteen {
	border:10px solid #e4b0b6;
	padding: 0px;
}

.fifteen {
	border:10px solid #e3b8bd;
	padding: 0px;
}

.sixteen {
	border:10px solid #e3c7ca;
	padding: 0px;
}

.text {
	width:400px;
	text-align: center;
	padding:30px;
	margin: 0 auto;
}
}