body {
	background-color:black;
}
.text {
	font-size:60px;
	line-height: 1.1em;
	display:block;
	height: 600px;
	font-family: Impact;
	width: 800px;
	color: white;
	margin:0 auto;
	text-align: center;
	text-transform: uppercase;
	margin-top: 65px;
	
}

.text a {
		display: block;
		background-color: black;
		height: 100%;
		text-align: center;
		text-decoration: none;
		color:black;
		
}

	.text a:hover {
		background-color: black;
		color: pink;
		cursor: crosshair;
	}


