* {
	box-sizing: border-box;
}

body {
	background: black;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
}

.canvas.one {
	background: #f19d1a;
}


.object {
	position:absolute;
}

/* Sphere */

.sphere {
	background:white;
	height:302px;
	width:302px;
	border-radius:50%;
	bottom: 180px;
	right:200px;
}

/*Squash*/

.squash {
	background: #e27a0b;
	height: 151px;
	width: 151px;
	border-radius: 40% 60% 50% 40%;
	top:120px;
	right:540px;
	border-left: 30px dotted #023e0f;
    border-right: 39px dotted #023e0f;
}

.squash.two {
	background: #e27a0b;
    height: 71px;
    width: 73px;
    border-radius: 60% 70% 63% 55%;
    top: 340px;
    right: 460px;
    border-left: 10px dotted #023e0f;
    border-right: 10px dotted #023e0f;
    z-index: 10;
}

/*Water Glass*/

.water-glass-container {
	height:220px;
	width: 100px;
	background:;
	bottom:160px;
	right:460px;

}

.water-glass-container .glass {

	bottom: 0;
	border-top: 200px solid #ffde9e;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	width: 100px;

}

.water-glass-container .top {
	width: 100px;
	height:25px;
	border-radius: 50%;
	background-color: #ffde9e;
	border: 1px solid white;
	top:7px;

}

.water-glass-container .bottom {
	width: 81px;
	height:25px;
	border-radius: 50%;
	background-color: #ffe8c1;
	bottom:-10.5px;
	left:9.5px;

}


/*Canvas 2*/

.canvas.two {
	background:#74bce5;
}

.vase-container {
	height:270px;
	width: 100px;
	background:;
	bottom:160px;
	left:250px;

}

.vase-container .glass {

	bottom: 0;
    border-bottom: 270px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-radius: 3% 3% 10% 10%;
    width: 90px;
    opacity: 0.6;
    /*z-index: 90;*/

}

.vase-container .top {
	width: 71.5px;
	height:30px;
	border-radius: 50%;
	background-color: #74bce5;
	border: 1px solid white;
	top:-12px;
	left: 9px;
	/*opacity: 0.6;*/
	/*z-index: 90;*/ 
}

.stems {
	bottom: 0;
    border-bottom: 350px solid #237011;
    border-left: 6px solid transparent;
    border-radius: 20% 80% 10% 10%;
    width: 10px;
    left: 14px;
}

.stems.one {
	left:24px;
	border-bottom: 350px solid #34921e;
}

.stems.two {
	left:34px;
	border-bottom: 350px solid #4cac36;
}

.stems.three {
	left:44px;
	border-bottom: 350px solid #237011;
}

.stems.four {
	left:54px;
	border-bottom: 350px solid #34921e;
}

.stems.five {
	left:64px;
	border-bottom: 350px solid #4cac36;
}

.petal {
	background: #8b44b4;
	height: 20px;
	width: 30px;
	border-radius: 40% 60% 50% 40%;
	border:1px solid #a969ce;
	top:-80px;
	left:-5px;
}

.petal.one {
	left: 7px;
	top: -95px;
    border-radius: 70% 30% 70% 40%;
}

.petal.two {
	left: 15px;
	top: -85px;
	height: 23px;
    border-radius: 30% 70% 40% 70%;
}

.petal.three {
	left: 25px;
	top: -65px;
	height: 23px;
    border-radius: 70% 25% 60% 40%;
}

.petal.four {
	left: 38px;
	top: -80px;
    border-radius: 40% 60% 35% 80%;
}

.petal.five {
	left: 58px;
	top: -95px;
	height: 26px;
    border-radius: 60% 40% 80% 35%;
}

.petal.six {
	left: 58px;
	top: -65px;
    border-radius: 40% 60% 70% 80%;
}

.eraser {
	background-color: #3b3b3d;
	width:60px;
	height: 27px;
	top:374px;
	right:410px;
	border-radius: 8%;
	border-bottom: 8px solid #5b5b5b;

}